---
import { Admin } from "bknd/ui";
import "bknd/dist/styles.css";

import { getApi } from "bknd/adapter/astro";

const api = await getApi(Astro, { mode: "dynamic" });
const user = api.getUser();

export const prerender = false;
---

<html>
   <body>
      <Admin
         withProvider={{ user }}
         config={{ basepath: "/admin", theme: "dark", logo_return_path: "/../" }}
         client:only
      />
   </body>
</html>