.DS_Store
node_modules
/.cache
/.wrangler
/build
/public/build
packages/media/.env
*.sqlite
/data.sqld/
/dist
**/*/dist
**/*/build
**/*/.cache
**/*/.env
**/*/.dev.vars
**/*/.wrangler
**/*/*.tgz
**/*/vite.config.ts.timestamp*
.history
**/*/.db/*
**/*/.configs/*
**/*/*.db
**/*/*.db-shm
**/*/*.db-wal
**/*/.tmp
.npmrc
/.verdaccio
.idea
.vscode
.git_old
docker/tmp