.DS_Store
node_modules
/.cache
/.wrangler
/build
/public/build
packages/media/.env
*.sqlite
/data.sqld/
/dist
**/*/dist
**/*/build
**/*/.cache
**/*/.env
**/*/.dev.vars
**/*/.wrangler
**/*/vite.config.ts.timestamp*
.history
**/*/.db/*
.npmrc
/.verdaccio
.idea
.vscode
.git_old